@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 4% 5%;

    --card: 0 0% 100%;
    --card-foreground: 240 4% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 4% 5%;

    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 16% 93%;
    --secondary-foreground: 240 4% 5%;

    --muted: 240 7% 97%;
    --muted-foreground: 230 3% 40%;

    --accent: 240 7% 97%;
    --accent-foreground: 240 4% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 11% 93%;
    --input: 234 16% 87%;
    --ring: 238 45% 72%;

    --radius: 0.60rem;
  }
  
  .dark {
    --background: 220 12% 5%;
    --foreground: 240 14% 90%;

    --card: 240 11% 7%;
    --card-foreground: 240 14% 90%;

    --popover: 240 11% 7%;
    --popover-foreground: 240 14% 90%;

    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 25% 14%;
    --secondary-foreground: 240 14% 90%;

    --muted: 240 18% 12%;
    --muted-foreground: 236 8% 60%;

    --accent: 235 21% 12%;
    --accent-foreground: 240 14% 90%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 11% 15%;
    --input: 240 10% 23%;
    --ring: 239 50% 43%;
  }
}
@media print {
  @page {
    margin: 0;
  }
  body {
    padding: 0 50px;
    zoom: 75%;
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
